.main {
  padding: 20px 12px;
  background-color: #00431a;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2500;
  @media (min-width: 768px) {
    padding: 20px 24px;
  }
  @media (min-width: 1440px) {
    padding: 20px 80px;
  }
}

.btn {
  color: #f9c745;
  background-color: #00431a;
  border: 1px solid #f9c745;
  border-radius: 7px;
  cursor: pointer;
  font-size: 12px;
  padding: 0 12px;
  height: 28px;
  @media (min-width: 768px) {
    margin-left: 30px;
    border-radius: 2px;
    height: 32px;
    padding: 0 15px;
    font-size: 14px;
  }
}

.btn:hover {
  background-color: white;

  color: #19a463;
  transition: 0.3s;
}

.rightSide {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.burgerDiv {
  margin-left: 15px;
  @media (min-width: 768px) {
    display: none;
  }
}

.headers {
  font-size: 14px;
  color: white;
  margin-left: 5px;
  align-items: center;
  @media (min-width: 768px) {
    margin-left: 10px;
  }
}

.headersDiv {
  display: none;
  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    align-items: center;
    cursor: pointer;
  }
  @media (min-width: 1440px) {
    margin-left: 40px;
  }
}

.mobileHeadersDiv {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-left: 35%;
  margin-bottom: 15px;
}

.headersDiv:hover .headers {
  transition: 0.3s;
  color: #19a463;
}

.headersDiv:hover .icon {
  fill: #19a463;
  transition: 0.3s;
}

.icon {
  fill: white;
}

.burgerList {
  background-color: #00431a;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2400;
  top: -129px;
  left: 0;
  border-top: 0.5px solid white;
  transform: translateY(-100%);
  transition: 0.5s;
  padding-top: 20px;
  padding-bottom: 30px;
  @media (min-width: 768px) {
    display: none;
  }
}
