.houseStatement {
  margin-top: 18px !important;
  max-width: 1320px;
  margin: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;

  .slider-wrapper {
    max-height: 70vh;
    // padding-top: 50px;
    .slider {
      img {
        height: 100%;
        max-width: 1200px;
        object-fit: contain;
      }
      div {
        height: 70vh;
      }
    }
  }
  .carousel-status {
    display: none;
  }
  .thumbs-wrapper {
    transform: translateY(-46px);
    max-width: 1200px;
    margin: auto !important;
    display: flex;
    align-items: center;
    justify-content: center;
    .thumb {
      border: 1px solid #ffffff;
      padding: 0;
      border-radius: 3px;
      width: 121px !important;
      height: 79px;
      &:hover {
        border: 2px solid #19a463;
      }
      img {
        margin: 0;
        width: 121px;
        height: 79px;
      }
      &.selected {
        border: 2px solid #19a463;
      }
    }
  }
  .control-dots {
    display: none;
  }
  .carousel-root {
    background: #000;
  }

  .carousel .control-arrow.control-prev:before,
  .carousel.carousel-slider .control-arrow.control-prev:before {
    width: 98px;
    height: 98px;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    left: -53px;
    position: absolute;
    transform: translateY(-50%);
  }

  .carousel .control-arrow.control-next:before,
  .carousel.carousel-slider .control-arrow.control-next:before {
    width: 98px;
    height: 98px;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    left: -44px;
    position: absolute;
    transform: rotate(180deg) translateY(50%);
  }
}

.carousel .thumbs-wrapper {
  overflow: inherit !important;
  height: 1px;
}
.statementContainer {
  background-color: #fff;
  max-width: 1320px;
  margin: auto;
  padding-left: 40px;
  padding-right: 40px;

  * {
    font-size: 14px;
  }
  .container {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .statementContainer {
    padding-right: 0px;
    .container {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .houseStatement_price {
    padding-right: 0px;
    margin-left: 23px;
    margin-top: 15px;
  }
  .houseStatement .slider-wrapper .slider div {
    height: 222px;
  }
  .houseStatement .thumbs-wrapper .thumb {
    border: 1px solid #ffffff;
    padding: 0;
    border-radius: 3px;
    width: 76px !important;
    height: 52px;
  }
  .houseStatement .slider-wrapper .slider img {
    min-height: 200px;
  }

  .houseStatement .carousel .control-arrow.control-next:before,
  .houseStatement .carousel.carousel-slider .control-arrow.control-next:before {
    width: 64px;
    height: 64px;
    left: -27px;
    top: 141px;
  }

  .houseStatement .carousel .control-arrow.control-prev:before,
  .houseStatement .carousel.carousel-slider .control-arrow.control-prev:before {
    width: 64px;
    height: 64px;
    left: -35px;
    top: 141px;
  }
  .carousel {
    position: absolute;
  }
  .houseStatement .slider-wrapper {
    padding-top: 0;
  }
  .carousel .thumbs {
    padding-left: 0;
  }
  .specifications_list div {
    width: 100%;
  }
  .mainSpecifications div {
    width: 100%;
    margin-bottom: 12px;
  }

  .carousel .thumbs-wrapper {
    height: 0 !important;
    overflow: inherit;
  }
  .houseStatement .thumbs-wrapper {
    transform: translateY(-19px);
  }

  .mapWrapper {
    height: 250px !important;
  }
  .houseCard {
    margin: 0 !important;
  }
  .houseCard_link {
    display: block;
    padding: 15px;
  }
}
